.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 10px 20px;
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 10px 24px #a0aab466;
  overflow: hidden;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  gap: 20px;
}

.nav-profile, .support-btn {
  color: #486b83;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav-profile:hover, .support-btn:hover {
  text-decoration: none;
  color: #423930;
}

.separator {
  color: #486b83;
  margin: 0 10px;
}

.main-content {
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.course-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-card h3 {
  margin-top: 0;
}

.course-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.course-btn:hover {
  background-color: #2980b9;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-button {
  border: none;
  color: black;
  display: flex;
  margin-top: 12px;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #7aa5c4;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-button:hover {
  background-color: #897767;
}

.auth-button:active {
  background-color: #486b83;
}
